@import "main.scss";
.wBack {
  background-color: #f4f4f4 !important;
}

.bBack {
  background-color: #333333 !important;
}

.gBack {
  background-color: #666666 !important;
}

.mBack {
  background-color: #10d8cd !important;
}

.oBack {
  background-color: #d99525 !important;
}

.tBack {
  background-color: transparent !important;
}

.bwBack {
  background-color: #ffffff !important;
}

.rgbaBack {
  background-color: rgba(0,0,0,0.8);
}
/* font sizes */
html {
  font-size: 14px;
  font-family: 'Roboto';
  /*direction: rtl;*/
}
/*.ten {
  font-size: 10px !important;
}*/
.two {
  font-size: 12px !important;
}

.four {
  font-size: 14px !important;
}

.twoRem {
  font-size: 2rem;
}
/* font weight */
.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}
/* font color */
.txtWhite {
  color: #f4f4f4 !important;
}

.txtMain {
  color: #10d8cd !important;
}

.txtGrey {
  color: #666666 !important;
}

.txtOrange {
  color: #d99525 !important;
}
.darkblue {
  background: $dark-blue !important;
}

.mt40 {
  margin-top: 40px !important;
}
.mt20{
  margin-top: 20px !important;
}
.mb50{
  margin-bottom: 50px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}

.outRemove {
  outline: none !important;
}

.login {
  margin: 50px auto auto;
  border: 1px solid rgba(0,0,0,0.2);
  width: 500px;

  &__input {
    width: 400px;
  }
}

.box {
  width: 100%;
  padding-bottom: 20px;
  color: white;
  &__title{
    margin: auto;
    padding-bottom: 5px;
  }
  &--halfwidth{
    width: 25%;
    margin-bottom: 11px;
    border: none;
    &:hover{
      border: 1px solid #666666;
      background: transparent !important;
      color: #666666;
      cursor: pointer;
    }
    transition: background .5s ease;

  }
}
