@import 'main.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
// .navbar
$hoverColor: #03b281;
$secondaryColor: #174747;
$primaryColor: #0c2c29;
.page-container {
    background: #0c2c29;
    padding: 15px;
    transform: translateY(40px)
}

.table-container {
    background-color: #174747;
    th,
    td {
        color: white;
    }
    tr {
        &:hover {
            background-color: #03b281;
        }
    }
    md-icon {
        color: white !important;
    }
    .md-select-icon,
    .md-select-value {
        color: white;
    }
}

.mr-10 {
    margin-right: 10px
}

.form-container {
    display: flex;
}

.search-input {
    width: 200px;
}

.top-bar {
    background: #0c2c29 !important;
    label {
        color: white;
        font-size: 21px;
    }
}

.video-section {
    div {
        background: #174747;
    }
    .videoBtns {
        button {
            margin: 15px;
        }
        text-align: right;
    }
}