// bower:scss
// endbower

$main: #10d8cd;
$main2 : #2eccfc;
$dark-blue : #4257B2;
$main-font :'Nunito Sans', sans-serif;
$roboto-font :  'Roboto', sans-serif;
$fjalla-font: 'Fjalla One', sans-serif;
