<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/questions.css">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <!-- endbuild -->
  </head>
  <body ng-app="myAppApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


    <div ng-controller="MainCtrl" ng-cloak class="top-nav">
      <md-content class="md-padding nav-bar-content">
        <md-nav-bar
          layout="row" layout-align="end center "
          md-selected-nav-item="currentNavItem"
          nav-bar-aria-label="navigation links">
          <!-- <md-nav-item md-nav-click="goto('page1')" name="page1" class="md-nav-li">
           Sign up
          </md-nav-item> -->
          <md-nav-item md-nav-click="goto('page2')" ng-click="loginRedirect()" ng-if="!login" name="page2" class="md-nav-li">
           Log in
          </md-nav-item>
          <md-nav-item md-nav-click="goto('page2')" ng-click="logout()" ng-if="login" name="page2" class="md-nav-li">
           Log out
          </md-nav-item>
          <xs-nav-item md-nav-click="goto('page3')" name="page3" class="md-nav-img">
            <a href="#!/">
              <img class="nav-img" src="images/logo2.png" alt="iquiz logo">
              </a>
          </xs-nav-item>
        </md-nav-bar>
      </md-content>
    </div>

        <div class="container">

        <div ng-view=""></div>
        </div>


		<footer class="footer-distributed">

			<div class="footer-left">

                <img class="nav-img" src="images/logo2.png" alt="iquiz logo">
				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Company Name &copy; 2015</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Email" />
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/base.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/question.js"></script>
        <!-- endbuild -->
</body>
</html>
