<section class="home-section">
    <div class="container.fluid main-img-container" layout="row" layout-align="center center">
        <div class="row">
            <div class="col-md-5 home-content-wrapper">
                <div class="home-content">
                    <h1>Starting with a simple online learning tool</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in
                        r in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Exc
                        epteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div ng-click="redirect()" class="home-btn">
                        Get Started
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div  class="col-md-12" ng-controller="MainCtrl" ng-cloak >
    <md-content class="home-card md-padding" layout-xs="column" layout="row" layout-wrap>
        <div layout="column"  class="home-card-col">
        <md-card>
            <md-card-title class="col-md-6">
            <md-card-title-text class="card-content">
                <span class="md-display-2">Study Smarter</span>
                <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ei
                    usmod tempor in r in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pa
                    riatur. Exc epteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
            </md-card-title-text>
            <md-card-title-media>
            </md-card-title-media>
            </md-card-title>
        </md-card>
        </div>
    </md-content>
</div>
