<md-toolbar class="md-table-toolbar md-default top-bar">
    <div class="md-toolbar-tools">
        <form class="form-container" ng-submit="getVideos(channel)">
            <label class="mr-10">channel</label>
            <input type="text" class="form-control mr-10" ng-model="channel">
            <input type="submit" class="btn btn-success mr-10" value="submit">
        </form>
        <input type="text" class="form-control search-input mr-10" ng-model="searchText" placeholder="search">
    </div>
</md-toolbar>

<!-- exact table from live demo -->
<div class="row" class="page-container">
    <div class="col-md-8">
        <md-content laout="column" flex class="table-container">
            <md-table-container>
                <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="videosDetails">
                        <tr md-row>
                            <!-- <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th> -->
                            <!-- <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th> -->
                            <th md-column md-order-by="nameToLower">Title</th>
                            <th md-column md-order-by="nameToLower">Upload Data</th>
                            <th md-column md-order-by="nameToLower">Duration</th>
                            <th md-column md-order-by="nameToLower">Likes</th>
                            <th md-column md-order-by="nameToLower">Views</th>
                            <th md-column md-order-by="nameToLower">Description</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="videoDetail" md-select-id="name" md-auto-select ng-repeat="videoDetail in videosDetails | limitTo: query.limit: (query.page - 1) * query.limit | filter:searchText" ng-click="viewVideo(videoDetail.id,videoDetail.high,videoDetail.medium)">
                            <td md-cell>{{videoDetail.title | limitTo:20}}</td>
                            <td md-cell>{{videoDetail.uploadDate | date:'dd-M-yyyy H:mm'}}</td>
                            <td md-cell>{{videoDetail.duration}} seconds</td>
                            <td md-cell>{{videoDetail.likes}}</td>
                            <td md-cell>{{videoDetail.views}}</td>
                            <td md-cell>{{videoDetail.description | limitTo:50}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="19" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
            </md-card>
        </md-content>
    </div>
    <div class="col-md-4 video-section" ng-if="showVideoFlag">
        <div ng-bind-html="videoToView"></div>
        <div class="videoBtns">
            <input class="form-control" ng-model="img1" ng-disabled="true">
            <button class="btn btn-success" ngclipboard data-clipboard-text="{{img1}}">copy</button>
            <a id='dwnldLnk' download='youtupeHighImage.jpg' style="display:none;"></a>
            <button class="btn btn-success" ng-click="downloadHighres()">download</button>

        </div>
        <div class="videoBtns">
            <input class="form-control" ng-model="img2" ng-disabled="true">
            <button class="btn btn-success" ngclipboard data-clipboard-text="{{img2}}">copy</button>
            <a id='dwnldLnk' download='youtupeMediumImage.jpg' style="display:none;"></a>
            <button class="btn btn-success" ng-click="downloadHighres()">download</button>

        </div>
    </div>
</div>